<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/queries.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'css/img/gift.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock title %}</title>

<style>
    body{
        background-color: #BB2528;
        background-image: url("static/css/img/snow.png");
        background-position: 0 0;
        animation:
            snowfall 10s linear infinite;
    }

    @keyframes snowfall{
       100% {
        background-position: 70em 70em;
       } 
    }
</style>

</head>
<body>
    {% block content %}
    
    {% endblock content %}
</body>
</html>