{% extends 'base.html' %}

{% block title %}
    Świąteczne losowanie
{% endblock title %}

{% block content %}


    <div class="row">

        <div class="center">

            <h1>Świąteczne losowanie</h1>
            <form method="POST">
                {% csrf_token %}
    
                <select name="name" id="name" required>
                    <option value="" selected disabled>Wybierz swoje imię</option>
    
                    {% for person in persons %}
                        <option value="{{person}}">{{person}}</option>
                    {% endfor %}
                    
                </select>
    
                <input type="email" name="email" placeholder="Wpisz swój adres email" required>
                <button type="submit">Losuj</button>
            </form>
            
        </div>

        <div class="chosen">
            <p>Wylosowane osoba to: <strong>{{request.session.chosen}}</strong></p>
        </div>
        <div class="alreadyVoted">
            <p>{{alreadyVoted}}</p>
        </div>

    </div>

{% endblock content %}
    
    