{% extends 'base.html' %}
{% load static %}
{% block title %}
    Świąteczne losowanie
{% endblock title %}

{% block content %}

    <div class="row">

        <div class="center">

            <h1>Świąteczne losowanie</h1>
            <div class="image">
                <img src="{% static 'css/img/prezenty.jpg' %}" alt="gifts">
            </div>
            <form method="POST">
                {% csrf_token %}
    
                <select name="name" id="name" required>
                    <option value="" selected disabled>Wybierz swoje imię</option>
    
                    {% for person in persons %}
                        <option value="{{person}}">{{person}}</option>
                    {% endfor %}
                    
                </select>
    
                <input type="email" name="email" placeholder="Wpisz swój adres email" required>
                <button type="submit">Losuj</button>
            </form>
            
        </div>

        
        {% if request.session.chosen %}
            <div class="message">
                <p>Wylosowana osoba to: <strong>{{request.session.chosen}}</strong></p>
            </div>
        {% endif %}
            
        {% if alreadyVoted %}
            <div class="message">
                <p>{{alreadyVoted}}</p>
            </div>   
        {% endif %}
            
    </div>

{% endblock content %}
    
    